Sometimes we want to sample a larger dataset down to a smaller one, while keeping an even distribution between different categories

In [15]:
import pandas as pd

In [16]:
def sample_dataset(input_filename, output_filename, num_per_rating):
    df = pd.read_csv(input_filename)
    output = df.groupby('rating').apply(lambda x: x.sample(n=num_per_rating)).reset_index(drop = True).sample(frac=1)
    output.to_csv(output_filename, index=False)

## Micro

In [17]:
sample_dataset('data/train.csv', 'data/train-micro.csv', 128)

In [18]:
sample_dataset('data/valid.csv', 'data/valid-micro.csv', 64)

## Mini

In [8]:
df = pd.read_csv('data/train-mini.csv')
df.groupby('rating').count()

        text
rating
-1.0     237
-0.5     265
 0.0     932
 1.0     330

In [9]:
df = pd.read_csv('data/valid-mini.csv')
df.groupby('rating').count()

        text
rating
-1.0      44
-0.5     113
 0.0     199
 1.0     179

In [19]:
sample_dataset('data/train.csv', 'data/train-mini.csv', 256)

In [20]:
sample_dataset('data/valid.csv', 'data/valid-mini.csv', 128)